header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  grid-area: header;
}

nav {
  grid-area: nav;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

nav a.router-link-exact-active {
  color: var(--color-text);
  background-color: rgb(105, 118, 94);
  border: 2px solid var(--color-border);
}

nav a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
  border: 2px solid var(--color-border);
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border: 2px solid var(--color-border);
  background-color: var(--color-background-btn);
  color: var(--color-text);
  margin-inline: 5%;
}

nav a:first-of-type {
  border: 2px solid var(--color-border);
}

.content {
  grid-area: main;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    font-size: 1rem;
    padding: 1rem 0;
  }
}
