@import './base.css';
@import 'app.css';
@import 'calculator.css';

#app {
  margin: 0;
  font-weight: normal;
  display: grid;
  grid-template-areas:
    'header header'
    'nav nav'
    'main main ';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  background-color: var(--color-background);
}

a,
.green,
button {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
  border: 2px solid var(--color-border);
  background-color: var(--color-background-btn);
}

@media (hover: hover) {
  button:hover {
    background-color: #71895d;
    color: var(--color-heading);
  }
}
